---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import { Image } from "astro:assets";

import eyeCatchImage from "../assets/eye-catch-sample.png";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
		title: "Tailwind CSS",
	},
	{
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
		title: "Markdown",
	},
	{
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
		title: "MDX",
	},
	{
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
		title: "Satori",
	},
	{
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
		title: "Pagefind",
	},
	{
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
		title: "Astro Icon",
	},
	{
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
		title: "Expressive Code",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="max-h-100 mb-2 w-full bg-red-200">
			<Image src={eyeCatchImage} alt="アイキャッチ" />
		</div>
		<h1 class="title mb-2">Welcome to Yamato Lab!</h1>
		<div class="flex min-h-20 items-center bg-neutral-200">
			<p class="bg-slate- mb-4">
				ここにグループの紹介文を書く。PCで表示したときに２行になるくらいのやつ
			</p>
		</div>
		<!-- <SocialList /> -->
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-1 text-xl">Events</h2>
		<hr class="mb-2 w-full border-2 border-neutral-100" />
		<ul class="mb-4 block space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<div class="relative h-auto w-full">
			<div class="absolute right-0 block w-auto">
				<a
					class="relative block h-auto w-auto rounded-none bg-neutral-400 px-2 py-1 text-neutral-100"
					href="/events/">View more</a
				>
			</div>
		</div>
	</section>
	<section class="mt-16">
		<h2 class="title mb-1 text-xl">News</h2>
		<hr class="mb-2 w-full border-2 border-neutral-100" />
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
		<div class="relative h-auto w-full">
			<div class="absolute right-0 block w-auto">
				<a
					class="relative block h-auto w-auto rounded-none bg-neutral-400 px-2 py-1 text-neutral-100"
					href="/news/">View more</a
				>
			</div>
		</div>
	</section>
</PageLayout>
